body  {
    background-color: #E0D1B8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6A1221;;
}

header {
    color: rgb(167, 7, 34, .8);
    font-style: italic; 
    font-size: 10px;
}



footer {
    color: rgb(167, 7, 34);
    font-style: italic; 
}