body {
    background: #ffffff;
    margin: 0%;
    padding: 0%;
}

body img {
    border-radius: 20px;
    margin-bottom: 0%;
    margin-top: 0%;
}

body h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #9C0758;
    text-align: center;
    margin-top: 5%;
}

body h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #FF7D00;
    text-align: center;
    margin-top: 10%;
}

body p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin-right: 10%;  
    text-align: justify; 
}

body h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#9C0758;
    margin-top: 10%;
    text-align: justify;
}

body li {
    font-family: 'Courier New', Courier, monospace;
}

body form {
    text-align: center;
}
