body{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: #EF843A;
}

header h2 {
    align-items:center; 
    justify-content: center;
   
    
}

header form {
    margin-left: 80%;
    margin-bottom: 20px;
}

img {
    border: solid green;
}

.primeiraSessao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}


footer {
    background-color: #323B3E;
    color: #FFFFFF;
}