html {
  min-width: 100vw;
  display: flex;
}

body{
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 60px;
  height: 100vh;
}

header {
  display: flex;
  background-color: #EF843A;
  justify-content: space-between;
  align-items: baseline;
}

header input {
  margin-bottom: 20px;
  width: 150px;
  margin-right: 20px;
}

#aside-e-section {
  display: flex;
}

aside {
  border-right: solid rgb(137, 145, 148);
  grid-template-columns: 1fr;
  width: 150px;
  display: grid;
  justify-content: baseline;
  align-content: flex-start;
  margin-top: 0px;
}

li {
  list-style: none;
}


img {
  border: solid green;
}

.primeiraSessao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  margin-right: 0;
  margin-left: 50px;
  margin-top: 20px;
}

.primeiraSessao div {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.primeiraSessao div img {
  height: 230px;
}

.sessaoVideos{
  display: flex;
  justify-content: right;
  align-content: space-between;
}

footer {
  background-color: #323B3E;
  color: #FFFFFF;
  position: relative;
  height: 60px;
  width: 100%;
  bottom: 0;
}