.imagens-container {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  
  padding: 20px 20px;
}


.img-1 {
    height: 40vmin;
    width: 40vmin;
  }

  .img-2 {
    height: 40vmin;
    width: 40vmin;
  }

  .img-3 {
    height: 40vmin;
    width: 40vmin;
  }